body {
    background: linear-gradient(300deg,deepskyblue,darkviolet,#1f5f8b,#1dcd8d);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #PageCon{
    margin-top:10rem;
  }
  @media (max-width: 576px) { /* Adjust the breakpoint as needed */
    #PageCon {
      margin-top: 2rem;
    }
  }
  @media (max-width: 992px) { /* Adjust the breakpoint as needed */
    #PageCon {
      margin-top: 2rem;
    }
  }

  #MainText{
    font-size: 4rem;
  }
  @media (max-width: 576px) { /* Adjust the breakpoint as needed */
    #MainText {
      font-size: 3rem;
      margin-top: 1rem !important;
    }
  }
  @media (max-width: 992px) { /* Adjust the breakpoint as needed */
    #MainText {
      font-size: 4rem;
      margin-top: 1rem !important;
    }
  }

  #HomeImg{

  }
  @media (max-width: 576px) { /* Adjust the breakpoint as needed */
    #HomeImg {
      margin-top: 1rem !important;
    }
  }
  
